.main {
  height: 100vh;
  width: 100vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: url("/api/assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  overflow: hidden;
  /* darken background */
}
.background {
  position: absolute;
  z-index: 0;
}
.mainContent {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100vw;
  z-index: 1;
}

.title {
  font-size: 1.4rem;
  color: white;
  margin-bottom: 0px;
}
.profilePicture {
  border-radius: 100%;
}
.indexBody {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.7);

}
.aboutMeContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}
.aboutMe {
  width: 80%;
  text-align: justify;
  text-align-last: center;
  font-size: 1.5rem;
  color: white;
  margin: 0;
}
.name {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0px;
  color: white
}
.pageSectionTitle {
  font-size: 3.8vw;
  font-weight: bold;
  margin: 0;
  color: white
}
.items{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  text-align: center;
  background-color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  height: fit-content;
}
.itemImage {
  width: 100px;
  height: 100px;
  margin: 10px;
  display: inline;
}
.footer{
  width: 100vw;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  
  backdrop-filter: blur(20px) brightness(110%);
  color: white
}
.SendMessageHeader{
  color: white;
  
}
.copyright {
  text-align: center;
  color: white;
  font-size: 0.7rem;
}
@media (max-width: 620px) {
  .profilePicture{
    width: 200px;
    height: 200px;
  }
  /* CSS for text items */
  .aboutMeContainer{
    margin-top: 10px;
  }
  .aboutMe{
    font-size: 0.99rem;
    text-align: center;
  }
  .name {
    font-size: 1.6rem;
    margin-top: 10px;
  }
  .title {
    font-size: 1.0rem;
    margin-top: 10px;
    height: fit-content;
  }
  .pageSectionTitle {
    font-size: 3em;
    font-weight: bold;
    color: white
  }

  /* CSS for item lists */
  .items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    text-align: center;
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    height: fit-content;
  }
  .itemImage {
    width: 50px;
    height: 50px;
    margin: 10px;
    display: block;
  }
}
